 .formulario {
    background-color:orange;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 50px;
    
 .boton-de-agendar {
    background-color: green;
}


}
/* aqui anadi color de fondo y color de texto al formulario de brazzers */

